# Explainer

In [82]:
predict_fn = lambda x: clf.predict_proba(x)
feature_names = list(trainX.columns)
explainer = AnchorTabular(predict_fn, feature_names)

In [83]:
trainX_array = trainX.to_numpy()
testX_array = testX.to_numpy()
trainY_array = trainY.to_numpy()
testY_array = testY.to_numpy()

explainer.fit(trainX_array, disc_perc=[10, 20, 30, 40, 50, 60, 70, 80, 90])

AnchorTabular(meta={
  'name': 'AnchorTabular',
  'type': ['blackbox'],
  'explanations': ['local'],
  'params': {'seed': None, 'disc_perc': [10, 20, 30, 40, 50, 60, 70, 80, 90]}}
)

In [90]:
idx = 193
class_names = ["Normal", "Fraudulent"]
print('Prediction: ', class_names[explainer.predictor(trainX_array[idx].reshape(1, -1))[0]])

explanation = explainer.explain(trainX_array[idx], threshold=0.95)
print('Anchor: %s' % (' AND '.join(explanation.anchor)))
print('Precision: %.2f' % explanation.precision)
print('Coverage: %.2f' % explanation.coverage)

Prediction:  Normal
Anchor:
Precision: 1.00
Coverage: 1.00

In [62]:
resetY = trainY.reset_index()

In [66]:
len(Xfraud)

8213

In [67]:
len(X)

2770409

In [68]:
XnonFraud.iloc[:8213]

,step,type,amount,oldBalanceOrig,newBalanceOrig,oldBalanceDest,newBalanceDest,errorBalanceOrig,errorBalanceDest
15,1,1,229133.94,15325.00,0.00,5083.00,51513.44,213808.94,182703.50
19,1,0,215310.30,705.00,0.00,22425.00,0.00,214605.30,237735.30
24,1,0,311685.89,10835.00,0.00,6267.00,2719172.89,300850.89,-2401220.00
42,1,1,110414.71,26845.41,0.00,288800.00,2415.16,83569.30,396799.55
47,1,1,56953.90,1942.02,0.00,70253.00,64106.18,55011.88,63100.72
...,...,...,...,...,...,...,...,...,...
27079,8,0,17018.68,30501.00,13482.32,0.00,17018.68,0.00,0.00
27083,8,0,774926.60,11449.00,0.00,403322.43,1178249.03,763477.60,0.00
27084,8,1,164248.98,215458.87,51209.90,8190.84,450437.07,0.01,-277997.25
27098,8,0,351811.41,21006.00,0.00,0.00,502474.64,330805.41,-150663.23
27100,8,1,132681.54,133451.20,769.66,0.00,197794.16,0.00,-65112.62

In [70]:
Xfraud

,step,type,amount,oldBalanceOrig,newBalanceOrig,oldBalanceDest,newBalanceDest,errorBalanceOrig,errorBalanceDest
2,1,0,181.00,181.00,0.0,-1.00,-1.00,0.0,1.810000e+02
3,1,1,181.00,181.00,0.0,21182.00,0.00,0.0,2.136300e+04
251,1,0,2806.00,2806.00,0.0,-1.00,-1.00,0.0,2.806000e+03
252,1,1,2806.00,2806.00,0.0,26202.00,0.00,0.0,2.900800e+04
680,1,0,20128.00,20128.00,0.0,-1.00,-1.00,0.0,2.012800e+04
...,...,...,...,...,...,...,...,...,...
6362615,743,1,339682.13,339682.13,0.0,0.00,339682.13,0.0,0.000000e+00
6362616,743,0,6311409.28,6311409.28,0.0,-1.00,-1.00,0.0,6.311409e+06
6362617,743,1,6311409.28,6311409.28,0.0,68488.84,6379898.11,0.0,1.000000e-02
6362618,743,0,850002.52,850002.52,0.0,-1.00,-1.00,0.0,8.500025e+05
6362619,743,1,850002.52,850002.52,0.0,6510099.11,7360101.63,0.0,9.313226e-10

In [73]:
balanced_set = pd.concat([Xfraud, XnonFraud.iloc[:8213]])
balanced_set

,step,type,amount,oldBalanceOrig,newBalanceOrig,oldBalanceDest,newBalanceDest,errorBalanceOrig,errorBalanceDest
2,1,0,181.00,181.00,0.00,-1.00,-1.00,0.00,181.00
3,1,1,181.00,181.00,0.00,21182.00,0.00,0.00,21363.00
251,1,0,2806.00,2806.00,0.00,-1.00,-1.00,0.00,2806.00
252,1,1,2806.00,2806.00,0.00,26202.00,0.00,0.00,29008.00
680,1,0,20128.00,20128.00,0.00,-1.00,-1.00,0.00,20128.00
...,...,...,...,...,...,...,...,...,...
27079,8,0,17018.68,30501.00,13482.32,0.00,17018.68,0.00,0.00
27083,8,0,774926.60,11449.00,0.00,403322.43,1178249.03,763477.60,0.00
27084,8,1,164248.98,215458.87,51209.90,8190.84,450437.07,0.01,-277997.25
27098,8,0,351811.41,21006.00,0.00,0.00,502474.64,330805.41,-150663.23
27100,8,1,132681.54,133451.20,769.66,0.00,197794.16,0.00,-65112.62

In [80]:
predict_fn = lambda x: clf.predict_proba(x)
feature_names = list(trainX.columns)
explainer = AnchorTabular(predict_fn, feature_names)

explainer.fit(balanced_set.to_numpy(), disc_perc=[25, 50, 75])

AnchorTabular(meta={
  'name': 'AnchorTabular',
  'type': ['blackbox'],
  'explanations': ['local'],
  'params': {'seed': None, 'disc_perc': [25, 50, 75]}}
)

In [91]:
idx = 100
class_names = ["Normal", "Fraudulent"]
print('Prediction: ', class_names[explainer.predictor(trainX_array[idx].reshape(1, -1))[0]])

explanation = explainer.explain(trainX_array[idx], threshold=0.95)
print('Anchor: %s' % (' AND '.join(explanation.anchor)))
print('Precision: %.2f' % explanation.precision)
print('Coverage: %.2f' % explanation.coverage)

Prediction:  Normal
Anchor:
Precision: 1.00
Coverage: 1.00